<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nycun - Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/populate.js"></script>
</head>
<body>
    <header>
        <h1>NYCUN</h1>
    </header>
    <img src="/images/logo.png" alt="Profile Image" class="round-image" width="150" height="150">
    <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <!-- Add navigation links to your other pages or sections -->
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <section class="intro">
        <h2>Welcome to My Portfolio</h2>
        <p>I am a passionate web developer with expertise in building web applications.</p>
        <p>I am a passionate web developer with expertise in building web applications.</p>
        <p>I am a passionate web developer with expertise in building web applications.</p>
        <p>I am a passionate web developer with expertise in building web applications.</p>
        <p>I am a passionate web developer with expertise in building web applications.</p>
        <p>I am a passionate web developer with expertise in building web applications.</p>
    </section>

    <section class="portfolio">
      <h2>My Projects</h2>
      <div id="projects-container">
          <!-- JavaScript will populate this section -->
      </div>
    </section>

    <section class="education">
        <h2>Education</h2>
        <div id="education-container">
            <!-- JavaScript will populate this section -->
        </div>
    </section>
    
    <section class="exp">
        <h2>Experience</h2>
        <div id="exp-container">
            <!-- JavaScript will populate this section -->
        </div>
    </section>

    

    <section class="contact">
        <h2>Contact Me</h2>
        <p>Feel free to get in touch with me:</p>
        <ul>
            <li>Email: <a href="mailto:youremail@example.com">youremail@example.com</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/yourprofile">LinkedIn Profile</a></li>
            <!-- Add links to your social media profiles or other contact methods -->
        </ul>
    </section>
    <section class="contact">
      <h2>Contact referrals</h2>
      <p>Feel free to get in touch with:</p>
      <ul>
          <li>Widad toumi from zorx tech: <a href="mailto:youremail@example.com">widadtoumi@example.com</a></li>
          <li>Sam Waddignton from veritas education: <a href="https://www.linkedin.com/in/yourprofile">samwadignton@example.com</a></li>
          <!-- Add links to your social media profiles or other contact methods -->
      </ul>
  </section>

    <footer>
        <p>&copy; 2023 Mehdi Rahmoun. All rights reserved.</p>
    </footer>
</body>
</html>
<script>
</script>
